.row{
    justify-content: center;
}
.col-md-3{
    position:fixed;
    /* width: 200px; */
height: 300px;
top: 25%;
left: 37%;
    background-color: #3b4252;
    /* height: 100px; */
}
.box{
    background-color: whitesmoke;
    width: 50px;
}
button{
    position: relative;
    top: 125px;
}
.playButton{
    position: relative;
    top: 135px;
}
#play{
    color: whitesmoke;
    margin-top: 10px;
    font-size: x-large;
}
#pause{
    color: whitesmoke;
    margin-top: 10px;
    font-size: x-large;
}